@charset "utf-8";
/* CSS Document */

.container-fluid{margin-top:85px; border-radius:4px;}
.menu-principal{background-color:#089336;}
.slider{margin-top:10px;}
.nover{display:none;}
.noleido{background-color: #E8DD77;}

.imagen{height: auto; width: auto; background-color: #dddddd; align-content: center; padding: 30px; border-radius: 3px;}
.Promocion{background-color: #ff7733; font-size: 24px; margin: 20px; border-radius: 10px; padding: 5px; font-weight: bold;}
.pie{color: #ffffff;}


/*.gallery{display: flex;
align-items: center;
justify-content: center}*/
body{background-color:#ffffff;}



.gallery {
-webkit-column-count: 3;
-moz-column-count: 3;
column-count: 3;
-webkit-column-width: 33%;
-moz-column-width: 33%;
column-width: 33%; }
.gallery .pics {
-webkit-transition: all 350ms ease;
transition: all 350ms ease; }
.gallery .animation {
-webkit-transform: scale(1);
-ms-transform: scale(1);
transform: scale(1); }

@media (max-width: 450px) {
.gallery {
-webkit-column-count: 1;
-moz-column-count: 1;
column-count: 1;
-webkit-column-width: 100%;
-moz-column-width: 100%;
column-width: 100%;
}
}

@media (max-width: 400px) {
.btn.filter {
padding-left: 1.1rem;
padding-right: 1.1rem;
}
}
