body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px auto;
}


.cont_ppal {
    width:50rem;
    background-color: #177c03;
    margin-top: 10px;
    padding: 5px;
    border-radius: 30px;
    
}

h2{
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    margin: 35px;
    color: #177c03;
   
}
.form_regis {
    width: 47rem;
    margin: 30px auto;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
}

img {
    width: 120px;
    height: 120px;
    margin-top: 25px;

}

.contenedor{
   max-width: 42rem;
   margin: 30px auto;
   text-align: center;
   padding: 10px;
   display: grid;
   grid-template-columns: 50% 50%;
}

label {
    display:block; 
    margin: 10px auto;
}
.icon {
    width: 25px;
    height: 25px;
    position: absolute;
    transform: translateY(-75%);
    opacity: 0.8;
    cursor: pointer;
    margin-left: 10px;
}

.icon:hover{
    opacity: 1;
}

.cont-img {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: rgb(59, 4, 59); */
}

.entradas {
    /* background-color: violet; */
    width: 80%;
    margin:15px auto;
}


input {
    width: 80%;
    padding: 10px;
    border-radius: 5px;
    border: solid 3px #177c03;
}


.link {
    margin: 0px auto;
    text-decoration: none;
    font-size: 0.9em;
    color: #177c03;
}

.link:hover {
    color: #ffbb00;
    font-weight: 600;
}

.robot{
    margin: 25px ;
    padding: 10px;
}

.botonera {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-ingreso {
    width: 325px;
    font-size: 1em;
    font-weight: 600;
    background-color: #177c03;
    border-radius: 5px;
    border: none;
    color: antiquewhite;
    padding: 9px;
    margin-right: 80px;
}

.btn-registro {
    width: 125px;
    font-size: 1em;
    font-weight: 700;
    background-color: #ffbb00;
    border-radius: 5px;
    border: none;
    color: #177c03;
    padding: 9px;
    margin-right: 40px;
    text-align: center;
    text-decoration: none;
}